@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/*CSS APP*/

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --azul: #002F4F;
  --celeste: #0080FF;
  --rosa: #FF3F98;
  --blancoraro: #DCEFFF;
  --blancoclaro: #f9fafb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: var(--azul);
  background: var(--blancoraro);
  width: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*sidebar*/
.sidebar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(220,239,255,1) 53%);
}

/*carrusel*/
.carrusel{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 60px 0px;
  flex-direction: column;
  align-items: center;
}

.carrusel{
  font-size: 28px;
  font-weight: 700;
}

@media (max-width:580px) {
  .carrusel{
    font-size: 18px;
    margin: 20px 0px;
  }
}

@media (max-width:420px) {
  .carrusel{
    font-size: 14px;
    margin: 10px 0px;
  }
}
.carousel{
  width: 60%;
}
.carrusel-item{
  width: 200px !important;
}

/*container cards*/

.container-cards {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
}

/* card product */
.color-imagen {
  border: 1px solid var(--azul);
  border-radius: 6mm;
  width: 260px;
  height: 320px;
  background-color: var(--blancoclaro);
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

.card-texto {
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
}

/*footer*/
.footer {
  width: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(220, 239, 255, 1) 53%);
  padding-bottom: 20px;
}

.footer h4 {
  text-align: center;
  font-weight: 700;
}

.primeros-metodos {
  display: flex;
  justify-content: space-around;
}

.segundos-metodos {
  display: flex;
  justify-content: space-around;
}

.cover {
  object-fit: contain;
}

@media (max-width:520px) {
  .m-query-metodos{
    width: 80px;
  }

  .usdt{
    width: 40px;
  }
}

@media (max-width:380px) {
  .m-query-metodos{
    width: 70px;
  }

  .usdt{
    width: 35px;
  }
}